/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

h4,h5, p, ul>li, .btn-blue {
    font-family: 'Ubuntu Sans', sans-serif;
}

/* body > div > ol:nth-child(7) > li > button > a */

.btn-blue {
    color: var(--theme-white) !important;
    background-color: var(--primary-light);
    border: 2px solid var(--primary-medium);
}  

.btn-blue > a {
    color: var(--theme-white);
    border-color: var(--theme-light);
}

button:hover {
    font-size: 1.0001rem;
    background-color: var(--primary-dark);
}

button > a {
    color: var(--theme-white) !important; 
}

button > a:hover {
    color: var(--theme-white) !important;
    text-decoration: none;
}

a {
    color: var(--primary-light);
}

a:hover {
    color: var(--primary-medium);
    text-decoration: none !important;
}

.fa-fw {
    color: var(--primary-medium);
}

.social-icons {
    list-style-type: none;
}

.ref-journal {
    font-weight: 600; 
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-medium);
}

/* .pl-5{
	padding-left: 100px !important;
} */
