/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Remove root section as we're using theme.css variables */

.ref-author-lemos {
    font-weight: 700; 
    color: var(--primary-dark);
}

.ref-journal {
    font-weight: 700; 
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-medium);
}

h4, h5, p {
    font-family: 'Ubuntu Sans', 'sans-serif';
}

li > span > a:hover {
    color: var(--primary-medium);
    text-decoration: none;
    font-size: 1.001rem;
    font-weight: 700 !important;
}

.btn-blue {
    color: var(--theme-white) !important;
    background-color: var(--primary-light);
    border-color: var(--theme-light);
} 

.btn-blue > a {
    color: var(--theme-white);
    border-color: var(--theme-light);
}

button:hover {
    font-size: 1.001rem;
    background-color: var(--primary-medium);
}

li > button > a:hover {
    color: var(--theme-white) !important;
    text-decoration: none;
}

button > a:hover {
    color: var(--theme-white) !important;
    text-decoration: none;
}

.articles-card {
    background-color: var(--theme-bluish);
    border-radius: 5px;
    border: 1px solid var(--primary-light);
}